footer.footer
	.footer__attention
		include ../../../public_html/layout/images/svg/die.svg
	.container
		img(src="/layout/images/age-sign.png", alt="").left
		a(href="#") help@lmlab.ru
		| &nbsp;| 
		a(href="#") Правила использования сайта
		| &nbsp;| 
		a(href="#") Риски, связанные со здоровьем
		| &nbsp;| Горячая линия 8-800-200-5105 с 9:00 до 21:00 по Московскому времени.
		| <br> © 2015 Общество с ограниченной ответственностью "Филип Моррис Сэйлз энд Маркетинг" аффилированная компания Philip Morris International.
		| <br>  Доступ на веб-сайт разрешен только гражданам РФ старше 18 лет, являющимся потребителями сигарет, с компьютеров, находящихся в интернет-сети РФ.
</body>
</html>
