sidebar.sidebar
	.sidebar__content
		a.sidebar__close(href="#")
			include ../../../public_html/layout/images/svg/close.svg
		nav.nav
			.nav__title L&M
			a.nav__item(href="#")  L&M Compact 
			a.nav__item(href="#") Продуктовая линейка
			a.nav__item(href="#") Технологии L&M
			a.nav__item(href="#")  История L&M
			a.nav__item(href="#")  Производство

			.nav__title ЛАБОРАТОРИЯ ИДЕЙ
			a.nav__item(href="#")  Видео-шоу
			a.nav__item(href="#")  Умнов ищет таланты
			a.nav__item(href="#")  Компактные идеи

			.nav__title   АКТИВНОСТИ 
			a.nav__item(href="#") Игры 
			a.nav__item(href="#") Турнир
			a.nav__item(href="#")  Тесты
			a.nav__item(href="#")  Призы

			.nav__title   ЛИЧНЫЙ КАБИНЕТ
			a.nav__item(href="#")  Профайл
			a.nav__item(href="#")  Пригласить друзей 
			a.nav__item(href="#") Рейтинг
