.footer {
  font-family: 'Helvetica Neue', 'Arial';
  font-size: 10px;
  color: #fff;
  position: relative;
  z-index: 20;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  -ms-transition-duration: 0.15s;
  transition-duration: 0.15s;
  float: left;
  width: 100%;
}
.footer--delay {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.footer img {
  margin-bottom: 60px;
}
.footer a {
  color: #fff;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(255,255,255,0.5) 50%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(255,255,255,0.5) 50%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(255,255,255,0.5) 50%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(255,255,255,0.5) 50%);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(255,255,255,0.5) 50%);
  background-repeat: repeat-x;
  -webkit-background-size: 2px 2px;
  -moz-background-size: 2px 2px;
  background-size: 2px 2px;
  background-position: 0 100%;
}
.footer a:hover {
  text-decoration: none;
}
.footer a:hover {
  color: #063e7f;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(6,62,127,0.5) 50%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(6,62,127,0.5) 50%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(6,62,127,0.5) 50%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(6,62,127,0.5) 50%);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(6,62,127,0.5) 50%);
  background-repeat: repeat-x;
  -webkit-background-size: 2px 2px;
  -moz-background-size: 2px 2px;
  background-size: 2px 2px;
  background-position: 0 100%;
}
.footer a:hover:hover {
  text-decoration: none;
}
.open .footer,
.footer--hidden {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.footer__attention {
  width: 100%;
  position: fixed;
  z-index: 1002;
  bottom: 0;
  height: 90px;
  background-color: #fff;
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  line-height: 90px;
  text-align: center;
  padding: 0 30px;
}
.footer__attention svg {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
