.nav
    &-trigger
        width 61px
        height 60px
        background-color blue
        text-align center
        display inline-block
        svg
            position relative
            left -1px
            top 2px
        &:hover
            background-color red
